---
import Layout from '@/layouts/Layout.astro'
import { FormHeader } from '@/components/Header'
import Footer from '@/components/Footer'
import AlertDialog from '@/components/Alert'
import RegistrationForm from '@/components/RegistrationForm'
import Wrapper from '@/components/Wrapper'
---

<Layout title="Employer Registration | CDLE">
	<FormHeader/>
	<Wrapper>
		<AlertDialog client:load title="Attention Unemployment Claimants and Employers">
			<ul class="pl-[14px] space-y-2 list-disc">
				<li>
					MyUI+ and MyUI Employer+ will go down at 8 PM on Friday, November
					22, for scheduled maintenance. The system will be available again
					the morning of Saturday, November 23.
				</li>
			</ul>
		</AlertDialog>
		<RegistrationForm />
	</Wrapper>
	<Footer isForm />
</Layout>
