---
import Layout from '@/layouts/Layout.astro'
import { FormHeader } from '@/components/Header'
import Footer from '@/components/Footer'
import SkipContent from '@/components/SkipContent'
import AlertDialog from '@/components/Alert'
import AlertContent from '@/components/AlertContent'
import RegistrationInfo from '@/components/RegistrationInfo'
import ForgotPasswordForm from '@/components/ForgotPasswordForm'
import Wrapper from '@/components/Wrapper'

const back = () => { history.back(); };
---

<Layout title="Forgot Password | CDLE">
	<SkipContent />
	<FormHeader uri='javascript:history.back()'/>
	<Wrapper>
		<AlertDialog client:load isForm title="Attention Users">
			<AlertContent/>
		</AlertDialog>

		<div class='mx-auto my-4 p-6 sm:rounded-[2rem] border bg-neutral-100 text-card-foreground shadow-xl'>
			<ForgotPasswordForm />
		</div>
	</Wrapper>
	<Footer client:load isForm />
</Layout>
