---
import Layout from '@/layouts/Layout.astro'
import { MainHeader } from '@/components/Header'
import Footer from '@/components/Footer'
import SkipContent from '@/components/SkipContent'
import AlertDialog from '@/components/Alert'
import Wrapper from '@/components/Wrapper'
import LoginCard from '@/components/LoginCard'
import LoginForm from '@/components/LoginForm'
import Content from '@/components/Content'
import { AccountButton, CreateAccount, NewsAndAlerts, ExistingAccount, ScamProtection } from "@/components/InfoCards"
---

<Layout title="Employer Login | CDLE">
	<SkipContent />
	<MainHeader client:load/>
	<Wrapper>
		<AlertDialog client:load title='Attention Unemployment Claimants and Employers'>
			<ul class='pl-[14px] space-y-2 list-disc'>
				<li>
					MyUI+ and MyUI Employer+ will go down at 8 PM on Friday, November
					22, for scheduled maintenance. The system will be available again
					the morning of Saturday, November 23.
				</li>
			</ul>
		</AlertDialog>
		<LoginForm>
			<LoginCard client:load title="Account Login" />
			<CreateAccount>
				<AccountButton 
					text="Create an Account"
					uri="/employer-registration"
				/>
			</CreateAccount>
		</LoginForm>
		<Content>
			<NewsAndAlerts customerType="employers" />
			<ExistingAccount />
			<ScamProtection />
		</Content>
	</Wrapper>
	<Footer client:load />
</Layout>
