---
import Layout from '@/layouts/Layout.astro'
import { MainHeader } from '@/components/Header'
import Footer from '@/components/Footer'
import SkipContent from '@/components/SkipContent'
import AlertDialog from '@/components/Alert'
import AlertContent from '@/components/AlertContent'
import Wrapper from '@/components/Wrapper'
import LoginCard from '@/components/LoginCard'
import LoginForm from '@/components/LoginForm'
import Content from '@/components/Content'
import { NewsAndAlerts, ScamProtection } from '@/components/InfoCards'
---

<Layout title="Third Party Administrator Login | CDLE">
	<SkipContent />
	<MainHeader client:load isTPA={true}/>
	<Wrapper>
		<AlertDialog client:load title="Attention Users">
			<AlertContent/>
		</AlertDialog>
		<div class="flex py-5">
			<LoginForm>
				<LoginCard client:load title="TPA Login">
					<div class="mt-2 text-muted-foreground text-center">
						Don't have a TPA account?
						<a 
							href="/tpa-registration" 
							class="font-bold text-blue-950/75 transition duration-200 hover:underline hover:text-blue-950/65"
						>
							Sign up
						</a>
					</div>
				</LoginCard>
			</LoginForm>
			<Content>
				<NewsAndAlerts customerType="TPA/Agents" />
				<ScamProtection />
			</Content>
		</div>
	</Wrapper>
	<Footer client:load />
</Layout>
